In [1]:
import pandas as pd
from pathlib import Path

In [2]:
loadschooldata = Path("Resources/schools_complete.csv")
loadstudentdata = Path("Resources/students_complete.csv")

In [3]:
school_data = pd.read_csv(loadschooldata)
student_data = pd.read_csv(loadstudentdata)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left",on=["school_name","school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_count = school_data_complete["school_name"]
unique_school_count = school_count.unique()
total_unique_schools = len(unique_school_count)
total_unique_schools

15

In [6]:
student_count = school_data_complete["student_name"].count()
student_count

39170

In [8]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [11]:
average_math_school = school_data_complete["math_score"].mean()
average_math_school

78.98537145774827

In [12]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [13]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [14]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [15]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [20]:
district_summary = {"Total Schools":[15],"Total Students":[39170],"Total Budget":[24649428],"Average Math Score":[78.985371],"Average Reading Score":[81.87784],"% Passing Math":[74.980853],"% Passing Reading":[85.805463], "% Overall Passing":[65.172326]}
district_summary = pd.DataFrame(district_summary)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [21]:
school_types = school_data.set_index(["school_name"])["type"]

In [ ]:
per_school_counts = school_data_complete[]